
body
{
    background-color: rgb(105, 169, 189);
    font-family: Times;

    border-right: 10px double rgb(14, 52, 63);
    height: 300px; 
    left: 50%;

    padding-bottom: 4%;
}

h1
{
    text-align: center;

    border-bottom: 10px double rgb(14, 52, 63);
}

.image
{
    position: absolute;
    right: 40px;
    max-width: 100%;
    height: auto;
}

h3
{
    
}

h5
{

}

ul
{
    
}

.v1
{
    border-left:6px solid green;
    height: 500px;
}